<p>account-details works!</p>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title
    >
      Account Information
      <mat-icon>account_circle</mat-icon>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="d-flex justify-content-start">
    <div class="p-2 w-25">ACCOUNT NO:</div>
    <div class="p-2 w-25">123</div>
    <div class="p-2 w-25"></div>
    <div class="p-2 w-25">STATE:</div>
    <div class="p-2 w-25">NC</div>

  </div>
  
  <div class="d-flex justify-content-start">
    <div class="p-2 w-25">USER-ID:</div>
    <div class="p-2 w-25">aksharam</div>
    <div class="p-2 w-25"></div>
    <div class="p-2 w-25">ZIPCODE:</div>
    <div class="p-2 w-25">28262</div>
  </div>
  
  <div class="d-flex justify-content-start">
    <div class="p-2 w-25">BALANCE:</div>
    <div class="p-2 w-25">$200</div>
    <div class="p-2 w-25"></div>
    <div class="p-2 w-25"></div>
    <div class="p-2 w-25"></div>
  </div>
</mat-expansion-panel>
